header {
  margin: 0;
  padding: 0;
}

#img {
  height: 70px;
  margin-left: 50px;
  margin-right: 50px;

}


#titre {
  color: #ffffff;
  font-size: 30px;

}

#logo {
  background-color: #80D0F0;
  height: 80px;
}


#link {
  cursor: pointer;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  #titre {
    display: none;
  }
}
