<div class="container mt-5">
  <div class="prev-next btn-group btn-group-toggle">
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" (click)="getGraphByYear(currentYear+2)">&#8249; Précédent
    </label>
    <label class="btn-primary" ngbButtonLabel>
      <input type="checkbox" (click)="getGraphByYear(currentYear)"> Suivant &#8250;
    </label>
  </div>
  <h1 class="text-center" [class.spinner]="isFinished">Histogramme</h1>
  <div class="year">{{currentYear - 1}}</div>

  <div class="chart-wrapper">
    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>

