<div class="calendary text-center">
  <div class="btn-group btn-group-toggle d-inline align-button d-inline-flex justify-content-center mb-4 align-items-center">
    <label class="btn-primary col col-md-4" ngbButtonLabel>
      <input type="checkbox" (click)="getDaysArrayByMonth(currentMonth-2)"> Précédent
    </label>
    <h1 class="col-md-auto mt-2 p-0 pl-3 pr-3"> {{currentMonthLetter}} - {{currentYear}}</h1>
    <label class="btn-primary col col-md-4" ngbButtonLabel>
      <input type="checkbox" (click)="getDaysArrayByMonth(currentMonth)"> Suivant
    </label>
  </div>
  <div class="table-responsive col-12 container-fluid" #slider (mousedown) ="mousedown($event)" (mouseup) ="mouseup($event)" (mouseleave) ="mouseleave($event)" (mousemove)="mousemove($event)">
    <table class="table table-bordered border-dark" title="Collaborator Days Off" >
      <thead class="table-primary">
      <tr>
        <th scope="col">Nom employé</th>
        <th *ngFor="let dayOffMonth of daysOffMonth" scope="col">
          <div *ngIf="dayOffMonth.includes('sa') || dayOffMonth.includes('di');then weekend else week"></div>
          <ng-template #weekend>
            <p class="text-danger">{{dayOffMonth}}</p>
          </ng-template>
          <ng-template #week>
            <p class="text-primary">{{dayOffMonth}}</p>
          </ng-template>
        </th>
      </tr>
      </thead>
      <tbody>
      <mat-progress-bar mode="indeterminate" *ngIf="collaboratorsCalendar.length === 0"></mat-progress-bar>
      <tr *ngFor="let collaboratorCalendar of collaboratorsCalendar">
        <th scope="row">{{collaboratorCalendar.firstName}}<br>{{collaboratorCalendar.lastName}}</th>
        <td *ngFor="let dayOff of collaboratorCalendar.daysOffMonth" class="dayOffTd">
          <div *ngIf="dayOff">
            <div class="col"
                 *ngIf="(dayOff.type === DayOffTypeEnum.RTTS || dayOff.type === DayOffTypeEnum.CSS || dayOff.type === DayOffTypeEnum.CP) && (collaborator!.role === CollaboratorRoleEnum.ADMINISTRATOR || collaborator!.role === CollaboratorRoleEnum.EMPLOYE)">
              <div ngbDropdown container="body" class="d-inline-block">
                <button class="{{dayOff.status}} btn btn-primary" id="dropdownBasic1" data-toggle="tooltip"
                        data-placement="top" title="{{dayOff.reason}}" ngbDropdownToggle>{{dayOff.type}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="text-light"
                     *ngIf="dayOff.status == DayOffStatusEnum.INITIAL || dayOff.status == DayOffStatusEnum.REJECTED">
                  <button ngbDropdownItem (click)="openModal(dayOff)">Modifier</button>
                  <button ngbDropdownItem (click)="deleteDayOff(dayOff)">Supprimer</button>
                </div>
              </div>
            </div>
            <div class="col"
                 *ngIf="(dayOff.type === DayOffTypeEnum.RTTS || dayOff.type === DayOffTypeEnum.CSS || dayOff.type === DayOffTypeEnum.CP) && (collaborator!.role === CollaboratorRoleEnum.MANAGER)">
              <div ngbDropdown container="body" class="d-inline-block">
                <button class="{{dayOff.status}} btn btn-primary" id="dropdownBasic1" data-toggle="tooltip"
                        data-placement="top" title="{{dayOff.reason}}" ngbDropdownToggle>{{dayOff.type}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="text-light">
                  <div *ngIf="dayOff.status == DayOffStatusEnum.WAITING_FOR_VALIDATION">
                    <button ngbDropdownItem (click)="acceptDayOff(dayOff)">Accepter</button>
                    <button ngbDropdownItem (click)="refuseDayOff(dayOff)">Refuser</button>
                  </div>
                  <div *ngIf="dayOff.status == DayOffStatusEnum.INITIAL || dayOff.status == DayOffStatusEnum.REJECTED">
                    <button ngbDropdownItem (click)="openModal(dayOff)">Modifier</button>
                    <button ngbDropdownItem (click)="deleteDayOff(dayOff)">Supprimer</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col"
                 *ngIf="(dayOff.type === DayOffTypeEnum.F || dayOff.type === DayOffTypeEnum.RTTE) && (collaborator!.role === CollaboratorRoleEnum.EMPLOYE || collaborator!.role ===  CollaboratorRoleEnum.MANAGER)">
              <button class="{{dayOff.status}} btn btn-primary" data-toggle="tooltip" data-placement="top"
                      title="{{dayOff.reason}}">{{dayOff.type}}</button>
            </div>
            <div class="col"
                 *ngIf="(dayOff.type === DayOffTypeEnum.F || dayOff.type === DayOffTypeEnum.RTTE) && (collaborator!.role === CollaboratorRoleEnum.ADMINISTRATOR)">
              <div ngbDropdown container="body" class="d-inline-block">
                <button class="{{dayOff.status}} btn btn-primary" id="dropdownBasic1" data-toggle="tooltip"
                        data-placement="top" title="{{dayOff.reason}}" ngbDropdownToggle>{{dayOff.type}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="text-light"
                     *ngIf="dayOff.status == DayOffStatusEnum.INITIAL || dayOff.status == DayOffStatusEnum.REJECTED">
                  <button ngbDropdownItem (click)="openModal(dayOff)">Modifier</button>
                  <button ngbDropdownItem (click)="deleteDayOff(dayOff)">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
