.INITIAL {
  background-color: blue;
}
.WAITING_FOR_VALIDATION {
  background-color: orange;
}
.VALIDATED {
  background-color: green;
}
.REJECTED {
  background-color: red;
}
.calendary {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.table-primary, .table-primary > th, .table-primary > td {
    background-color: #80d0f0;
}
.table.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
.table-responsive {
  cursor: grab;
}
.table-responsive button {
  cursor: pointer;
}
drag-scroll {
  height: 100%;
  width: 100%
}