.INITIAL {
  background-color: blue;
}
.WAITING_FOR_VALIDATION {
  background-color: orange;
}
.VALIDATED {
  background-color: green;
}
.REJECTED {
  background-color: red;
}
.calendary {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.table-primary, .table-primary > th, .table-primary > td {
    background-color: #80d0f0;
}