body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
}

.text-errors-email {
  position: absolute;
  top: 122px;
}
.text-errors-password {
  position: absolute;
  top: 237px;
}
.login-container {
  height: 555px;
}
