<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nouvelle demande d'absence</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <form [formGroup]="dayOffForm">

        <div class="form-group">
            <label for="dayOffType">Type de congé</label><br>
            <select class="form-select" aria-label="Default select example" formControlName="dayOffType" required>
                <option value="CP">CP</option>
                <option value="RTTS">RTTS</option>
                <option value="CSS">CSS</option>
                <option value="RTTE">RTTE</option>
                <option value="F">F</option>
                <!-- et faire en sorte que l'accès à certains type de congé
                     soit disponibles qu'en fonction de l'utilisateur connecté (administrateur ou manageur)  -->
            </select>
        </div>

        <div class="form-group">
          <label for="startDate">Date de début</label>
          <div class="input-group">
            <input required id="startDate"  class="form-control" placeholder="yyyy-mm-dd" formControlName="startDate" ngbDatepicker #startDate="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="endtDate">Date de fin</label>
            <div class="input-group">
              <input required id="endDate" class="form-control" placeholder="yyyy-mm-dd" formControlName="endDate" ngbDatepicker #endDate="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button"></button>
              </div>
            </div>
          </div>
      </form>
    </div>
    
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success" (click)="modal.close('Save click')" (click)="verifForm()">Soumettre la demande</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Nouvelle demande d'absence</button>
  
  <hr>
  
  <pre>{{ closeResult }}</pre>

 